html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#fullScreenCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
#toolbar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}

#menu {
    position: absolute;
    top:5px;
    right: 5px;
    background-color: #11558888;
    width: 10vw;
    padding: 1vh;
    z-index: 10;
}

.menuicon {
    width: 4vh;
    height: 4vh;
    border: 1px solid #00000088;
    background: linear-gradient(135deg, rgba(42,142,187,1) 0%, rgba(35,102,139,1) 100%);
    float: right;
    margin-right: 0.5vh;
    cursor: pointer;
}

.menuicon:hover {
    background: linear-gradient(135deg, #77F6EE 0%, #58ABA7 100%);
}

.button {
    position: relative;
    width: 8vh;
    height: 8vh;
    background: linear-gradient(135deg, rgba(42,142,187,1) 0%, rgba(35,102,139,1) 100%);
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
    cursor: not-allowed;
}

.button.enabled {
    background: linear-gradient(135deg, rgba(42,142,187,1) 0%, rgba(35,102,139,1) 100%);
    cursor: pointer;
}

.button.toggled {
    background: linear-gradient(135deg, #77F6EE 0%, #58ABA7 100%);
}

/* Hide content by default */
.button .icon, .button .label {
    display: none;
}

/* Show content for enabled buttons */
.button.enabled .icon, .button.enabled .label {
    display: block;
}

.button::before {
    content: attr(data-number); 
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 14px;
}

.icon {
    position: absolute;
    top: 10px;
    width: 4vh;
    height: 4vh;
}

.label {
    color: white;
    position: absolute;
    bottom: 3px;
    font-size: 1.5vh;
}

.view {
    position: absolute;
    background: linear-gradient(135deg, #668B9F 0%, #466177 100%);
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.statisticsCloseButton {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width:2vw;
    height:2vw;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(135deg, #368CAD 0%, #28687E 100%);
    font: 2vw Arial, sans-serif;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.statisticsHeadline {
    position: absolute;
    top: 1vw;
    left: 1vw;
    font: 2svw Arial, sans-serif;
    color: white;
}

.statisticsContent {
    background-color: #528CAE;
    width: 48vw;
    height: 40vh;
    margin: 4vw 1vw 1vw 1vw;
    overflow: auto;
    color: white;
    font-size: 2vw;
    padding: 1vw;
    box-sizing: border-box;
}

.flashing {
    animation: flash 0.5s alternate infinite;
}

@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}